ion-header {
  border-bottom: 1px solid #EEEEEE;
}

ion-header #main-header {  
  height: 56px;  
  --background: #B5121B; 
}

ion-header ion-button ion-img {
  width: 18px;
  height: 18px;
}

ion-header .name-button {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 29px;
  text-align: center; 
  color: #FFFFFF;      
}

#logout-button { 
  width: 100%;
  height: 46px; 
  --background: #B5121B;
  border-radius: 4px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 29px;
  color: #FFFFFF;
  display: block;
  margin: 0 auto; 
} 

#sub-header { 
  --min-height: 42px; 
  --background: white;
}

#page-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 29px; 
  color: black;   
}