    <ion-content>
      <ion-card id="contact-us-card">
        <ion-item id="contact-us-header" lines="none">
          <ion-label>Need to get in touch?</ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-thumbnail slot="start">
            <ion-img src="assets/pages/contact-us/call.png"></ion-img>
          </ion-thumbnail>
          <ion-label>
            <p>Call Us</p>
            <p>1300 55 21 99</p>
          </ion-label>
        </ion-item> 
        <ion-item lines="none">
          <ion-thumbnail slot="start">
            <ion-img src="assets/pages/contact-us/mail.png"></ion-img>
          </ion-thumbnail>
          <ion-label>
            <p>Email</p>
            <p>info@sats.com.au</p>
          </ion-label>
        </ion-item> 
        <ion-item lines="none">
          <ion-thumbnail slot="start">
            <ion-img src="assets/pages/contact-us/clock.png"></ion-img>
          </ion-thumbnail>
          <ion-label>
            <p>Office Hours</p>
            <p>Monday – Friday: 9am – 5pm</p>
          </ion-label>
        </ion-item>  
          <ion-button id="call-now-button">CALL NOW</ion-button> 
      </ion-card>   
    </ion-content>
